<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>demo1</title>
</head>
<script src="https://cdn.bootcss.com/jquery/3.4.1/jquery.js"></script>
<script src="https://cdn.bootcss.com/xlsx/0.11.9/xlsx.core.min.js"></script>
<script>
    $('#open-excel').change(function (e) {
        var files = e.target.files;
        var fileReader = new FileReader();
        fileReader.onload = function (ev) {
            try {
                var data = ev.target.result,
                    workbook = XLSX.read(data, {
                        type: 'binary'
                    }),
                    values = []; // 存储获取到的数据
            } catch (e) {
                console.log('文件类型不正确');
                return;
            }

            // 遍历每张表读取
            for (var sheet in workbook.Sheets) {
                if (workbook.Sheets.hasOwnProperty(sheet)) {
                    values = values.concat(XLSX.utils.sheet_to_json(workbook.Sheets[sheet]));
                    //break; // 如果只取第一张表，就取消注释这行
                }
            }

            // 以二进制方式打开文件
            fileReader.readAsBinaryString(files[0]);
        }
    });
</script>
<body>
demo 1 ~
<form class="form-signin" th:action="@{/home/analysis}" method="post" enctype="multipart/form-data">
    <table>
        <tr>
            <td>excel文件：</td>
            <td><input type="file" name="multipartFile"/></td>
            <td>jpg路径：</td>
            <td><input type="text" name="jpgPath"/></td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td>
                <input type="submit" value="提  交"/>
                <span style="color: red" th:text="${result_msg}" th:if="${not #strings.isEmpty(result_msg)}"></span>
            </td>
        </tr>
    </table>
    <input type="file" id="open-excel">
</form>
</body>
</html>