<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title1</title>
</head>
<body>
new~
<form action="UploadFile" method="post" enctype="multipart/form-data">
    <table>
        <tr>
            <td>excel文件：</td>
            <td><input type="file"/></td>
            <td>jpg路径：</td>
            <td><input type="file" id="file_input" webkitdirectory directory /></td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td>
                <input type="submit" value="提  交" />
            </td>
        </tr>
    </table>
</form>

</body>
</html>